body, h1, h2, p {
    margin: 0;
}

main {
    font-family: 'Niramit', sans-serif;
    background: linear-gradient(to bottom right, #00ffffff, #ff00ffff);
    padding: 1em;
    position: relative;
  }

.bio {
    width: 17.5em;
}

.div {
    border: 2px black solid;
    background-color: white;
    position: relative;
}

.div-wiki {
    width: 40em;
    left: 40em;
    top: -15em;
    margin-bottom: -15em;
}

.div-gal {
    width: 35em;
    left: 3em;
    top: -6em;
    margin-bottom: -6em;
}

.div-sv {
    width: 30em;
    left: 42em;
    top: -20em;
    margin-bottom: -20em;
}

.div-ref {
    width: 45em;
    left: 40em;
    top: 2em;
    margin-bottom: 2em;
}

.div-res {
    width: 30em;
    top: -10em
}

.div-pic {
    width: 15em;
   
}

.icon-span {
    font-size: 2em;
}

.fab, .far {
    color: black;
}

h2, .project-span {
    display: inline-block;
    padding-left: 0.1em;
    padding-bottom: 0.1em;
}

.icon-github {
    position: relative;
    font-size: 1.5em;
}

.gh-wiki {
    left: 13.7em;
}

.gh-gal {
    left: 12em;
}

.gh-ref {
    left: 14.7em;
}

.gh-sv {
    left: 1.2em;
}

.gh-pic {
    left: 9.5em;   
}

a {
    text-decoration: none;
    color: black;
}

.each-website {
    position: relative;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

.website-image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    opacity: 0;
    transition: .5s ease;
    padding: 0.7em;
}

.each-website:hover .overlay {
    opacity: 0.9;
    cursor: pointer;
}

.line-margin-bottom {
    margin-bottom: 0.5em;
}

.line-margin-top {
    margin-top: 0.5em;
}

.hello {
    width: 1.5em;
}