body, h1, h2, p {
    margin: 0;
}

main {
    font-family: 'Niramit', sans-serif;
    background: linear-gradient(to bottom right, #00ffffff, #ff00ffff);
    padding: 1em;
    position: relative;
  }

p {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    display: inline-block;   
}

h2, .project-span {
    display: inline-block;
    padding: 0.2em;
}

.hello {
    position: relative;
    font-size: 1.5em;
    top: 0.5em;
}

.hello-span {
    padding: 0.65em;
}

.bio {
    position: relative;
    width: 21em;
    top: -1em;
}

.div {
    box-sizing: border-box;
    border: 0.1em black solid;
    background-color:#DCDCDC	;
    position: relative;
    box-shadow: 0.3em 0.3em 0.5em;
    margin-right: 0.7em;
}

.div-wiki {
    width: 45em;
    left: 35em;
    top: -12em;
    margin-bottom: -12em;
}

.div-gal {
    width: 40em;
    left: 2em;
    top: -10em;
    margin-bottom: -10em;
}

.div-sv {
    width: 30em;
    left: 53em;
    top: -22em;
    margin-bottom: -22em;
}

.div-ref {
    width: 50em;
    left: 6em;
    top: -6em;
    margin-bottom: -6em;
}

.div-res {
    width: 30em;
    left: 43em;
    top: -5em;
    margin-bottom: -10em;
}

.div-pic {
    width: 15em;
    left: 28.5em;
    top: -20em;
    margin-bottom: -13em;
}

.icon-span, .icon-tech {
    font-size: 2em;
}

.icon-tech {
    padding-right: 0.2em;
}

.icon-github {
    font-size: 1.5em;
}

.each-website {
    position: relative;
    border-top: 0.1em black solid;
    width: 100%;
    height: 100%;
}

.website-image {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    opacity: 0;
    transition: .5s ease;
    padding: 0.7em;
    width: 100%;
    height: 100%;
}

.each-website:hover .overlay {
    opacity: 0.9;
    cursor: pointer;
}

.line-margin-bottom {
    margin-bottom: 0.5em;
}

.line-margin-top {
    margin-top: 0.5em;
}

.hello {
    width: 2em;
}

@media (max-width: 1400px) {

    .div-wiki {
        left: 30em;
    }

    .div-sv {
        left: 48em;
    }
}

@media (max-width: 1300px) {
   
    .div-wiki {
        width: 40em;
        left: 27em;
    }

    .div-gal {
        width: 35em;
        left: 2em;
        top: -5em;
        margin-bottom: -5em;
    }

    .div-sv {
        width: 25em;
        left: 45em;
        top: -17em;
        margin-bottom: -17em;
    }

    .div-ref {
        width: 45em;
    }

    .div-res {
        width: 30em;
        left: 35em;
        top: -4em;
        margin-bottom: -4em;
    }

    .div-pic {
        width: 12em;
        left: 24em;
        top: -20em;
        margin-bottom: -12em;
    }
}

@media (max-width: 1150px) {
   
    .div-wiki {
        width: 35em;
        left: 23em;
    }

    .div-gal {
        width: 30em;
        left: 2em;
    }

    .div-sv {
        width: 22em;
        left: 37em;
    }

    .div-ref {
        width: 37em;
        top: -4em;
        margin-bottom: -4em;
    }

    .div-res {
        left: 25em;
        top: -4em;
        margin-bottom: -4em;
    }

    .div-pic {
        left: 14em;
        top: -20em;
        margin-bottom: -12em;
    }
}

@media (max-width: 1000px) {
   
    .div-wiki {
        width: 32em;
        left: 22.5em;
    }

    .div-gal {
        width: 25em;
        left: 2em;
        top: -3em;
        margin-bottom: -3em;
    }

    .div-sv {
        width: 22em;
        left: 31em;
    }

    .div-ref {
        width: 35em;
        top: -3em;
        margin-bottom: -3em;
    }
}

@media (max-width: 900px), (hover: none) {

    main, .bio, .div {
        width: auto;
    }

    .bio, .div {
        max-width: 60em;
        min-width: 25em;
    }

    .div { 
        margin-top: 1em;
    }

    .div-wiki, .div-gal, .div-sv, .div-ref, .div-res, .div-pic {
        left: 0em;
        top: 0em;
        margin-bottom: 1.7em;
    }

    .div-pic {
        display: none;
  
    }

    .overlay {
        position: relative;
        opacity: 1;
        padding: 0.7em;
        border-top: 0.1em black solid;
    }
}