body, h1, h2, p {
    margin: 0;
}

main {
    font-family: 'Niramit', sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom right, #00ffffff, #ff00ffff);
    padding: 1em;
  }

.bio {
    width: 17.5em;
}

.div {
    border: 2px black solid;
    background-color: white;
}

.div-large {
    width: 30em;
}

.div-med {
    width: 25em;
}

.div-small {
    width: 20em;
}

.icon-span {
    font-size: 2em;
}

.fab, .far {
    color: black;
}